SNOWFLAKE_USER=USERNAME
SNOWFLAKE_PASSWORD=PWD
SNOWFLAKE_ACCOUNT=XXXXXXX-YYYYYYY
SNOWFLAKE_DATABASE=DATABASE
SNOWFLAKE_SCHEMA=SCHEMA
SNOWFLAKE_WAREHOUSE=WAREHOUSE
GOOGLE_API_KEY='See https://aistudio.google.com/apikey'